<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add Product</title>
</head>
<body>
<div>
    <form method="post" action="/books/add-book">
    <h1>Add Book</h1>
        <input type="text" name="bookName" id="bookName"/>
        <input type="text" name="bookAuthor" id="bookAuthor"/>
        <input type="text" name="bookPrice" id="bookPrice"/>
        <input type="text" name="bookDescription" id="bookDescription"/>
        <button>Add</button>
    </form>
</div>
</body>
</html>