<%- include("./header.ejs")  %>
    <form style="margin-top: 10px;" method="post" action="/login">
        <label for="email">Email</label>
        <input type="email" name="email">
        <label for="password"></label>
        <input type="password" name="password"/>
        <button type="submit">Login</button>
    </form>
<%- include("./footer.ejs")  %> 