<%- include("./header.ejs") %>
<form action="/new-password" method="post">
    <label for="new_password">New Password</label>
    <input type="password" id="new_password" name="new_password">
    <label for="confirm_password">Confirm Password</label>
    <input type="password" id="confirm_password" name="confirm_password">
    <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
    <input type="hidden" name="token" value="<%= token %>"/>
    <button type="submit">Reset</button>
</form>
<%- include("./footer.ejs") %>
