<%- include("./header.ejs") %>
<form action="/reset-password" method="post">
    <label for="email">Email</label>
    <input type="email" id="email" name="email">
    <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
    <button type="submit">Reset</button>
</form>
<%- include("./footer.ejs") %>
